In [1]:
import pandas as pd

In [2]:
k=pd.read_csv('companies_d.csv',encoding="ISO-8859-1")

In [3]:
k

,company_permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010
...,...,...,...,...,...,...,...,...,...,...
18329,/Organization/Enow,eNow,http://www.enow.com,Technology,operating,NaN,NaN,NaN,NaN,NaN
18330,/Organization/Enoware,enOware,http://www.enoware.de/,NaN,operating,DEU,1,Frankfurt,Karlsruhe,NaN
18331,/Organization/Enphase-Energy,Enphase Energy,http://www.enphaseenergy.com,Clean Technology|Semiconductors,ipo,USA,CA,Napa Valley,Petaluma,01-01-2006
18332,/Organization/Enpirion,Enpirion,http://www.enpirion.com,Semiconductors,acquired,USA,NJ,NJ - Other,Hampton,01-01-2001
18333,/Organization/Enplug,Enplug,http://www.enplug.com,Advertising|Digital Signage|Enterprise Sof,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
k1=pd.read_csv('mapping.csv',encoding="ISO-8859-1")
k1

,category_list,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
0,NaN,0,1,0,0,0,0,0,0,0
1,3D,0,0,0,0,0,1,0,0,0
2,3D Printing,0,0,0,0,0,1,0,0,0
3,3D Technology,0,0,0,0,0,1,0,0,0
4,Accounting,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
683,Wholesale,0,0,0,0,0,0,0,1,0
684,Wine And Spirits,0,0,0,1,0,0,0,0,0
685,Wireless,0,0,0,1,0,0,0,0,0
686,Women,0,0,0,0,0,0,0,1,0
687,Young Adults,0,0,0,0,0,0,0,1,0

In [5]:
k2=pd.read_csv('rounds2.csv',encoding="ISO-8859-1")
k2

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0
...,...,...,...,...,...,...
114944,/organization/zzzzapp-com,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0
114945,/ORGANIZATION/ZZZZAPP-COM,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0
114946,/organization/ãeron,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN
114947,/ORGANIZATION/ÃASYS-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0
114948,/organization/ä°novatiff-reklam-ve-tanä±tä±m-h...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0

In [41]:
k['company_permalink']=k['company_permalink'].str.lower()

In [42]:
k2['company_permalink']=k['company_permalink'].str.lower()

In [43]:
yo=k2['company_permalink'].nunique()

In [44]:
yoo=k['company_permalink'].nunique()

In [45]:
yo==yoo

True

In [46]:
m = pd.DataFrame(k2.company_permalink.unique())

In [47]:
m2 = pd.DataFrame(k.company_permalink.unique())

In [48]:
m2.equals(m)

False

In [64]:
mk11=pd.merge(k,k2, on='company_permalink',how='outer')

In [65]:
mk11

,company_permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/004-technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114944,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0
114945,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0
114946,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN
114947,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0
114948,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0

In [52]:
len(mk11.index)

114949

In [53]:
mk12=pd.merge(mk11,k1, on='category_list',how='outer')

In [54]:
mk12

,company_permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,...,raised_amount_usd,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,...,10000000.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,/organization/all-def-digital,All Def Digital,http://alldefdigital.com,Media,operating,USA,CA,Los Angeles,Los Angeles,NaN,...,7600000.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,/organization/anthill-magazine,Anthill Magazine,http://anthillonline.com/,Media,operating,AUS,7,Melbourne,Melbourne,23-05-2009,...,50000.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,/organization/attractive-black-singles-llc,Attractive Black Singles LLC,NaN,Media,operating,USA,NC,Greensboro,Greensboro,12-04-2012,...,7249849.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,/organization/basel-switzerland,The Speedel Group,http://www.speedelgroup.com/,Media,closed,CHE,4,Basel,Basel,NaN,...,5600000.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115326,NaN,NaN,NaN,Water Purification,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
115327,NaN,NaN,NaN,Web Browsers,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
115328,NaN,NaN,NaN,Web Tools,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
115329,NaN,NaN,NaN,Women,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
115330,NaN,NaN,NaN,Young Adults,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [66]:
budget=mk11[(mk11['raised_amount_usd']>=5000000) & (mk11['raised_amount_usd']<=15000000)]

In [67]:
budget

,company_permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
12,/organization/1-800-dentist,1-800-DENTIST,http://www.1800dentist.com,Health and Wellness,operating,USA,CA,Los Angeles,Los Angeles,01-01-1986,/funding-round/e1cfcbe1bdf4c70277c5f29a3482f24e,venture,A,19-07-2014,8900000.0
21,/organization/1000chi,Beijing 1000CHI Software Technology,http://www.1000chi.com/,Mobile,operating,NaN,NaN,NaN,NaN,01-01-2008,/funding-round/11c228f58831bc7ed337ef69ecc560c2,private_equity,NaN,01-02-2015,6000000.0
22,/organization/1000lookz,1000Lookz,http://1000lookz.com,Beauty,operating,IND,25,Chennai,Chennai,01-01-2008,/funding-round/b952cbaf401f310927430c97b68162ea,venture,NaN,17-03-2015,5000000.0
46,/organization/117go,117go,http://117go.com,Social Travel,operating,CHN,23,Shanghai,Shanghai,01-10-2011,/funding-round/645b4cd895450b8e0268027cd7813047,venture,B,04-11-2015,6602694.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114921,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/funding-round/85443f5438bfd50104b9591eabc95c94,grant,NaN,26-03-2014,7500000.0
114922,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/funding-round/b4fce7f8a13267353d57db09099800e8,venture,NaN,11-07-2013,14219999.0
114930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/funding-round/c05aab2155e390066d51c6852ff61464,grant,NaN,11-09-2009,5400000.0
114931,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/funding-round/e949f077c943db197f20e43c2eb8d0e6,venture,A,09-10-2009,7991547.0
114936,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/funding-round/7ea37c0ff4132b084832039a9380d34e,venture,A,16-12-2004,8500000.0

In [68]:
budget.groupby('funding_round_type')['raised_amount_usd'].sum().sort_values(ascending=False)

funding_round_type
venture                  1.475322e+11
debt_financing           7.206708e+09
private_equity           3.982620e+09
undisclosed              1.920869e+09
grant                    1.478476e+09
post_ipo_equity          1.417392e+09
seed                     1.341915e+09
angel                    5.192895e+08
convertible_note         3.874430e+08
post_ipo_debt            2.989750e+08
equity_crowdfunding      1.505313e+08
product_crowdfunding     1.373807e+08
secondary_market         3.241126e+07
non_equity_assistance    1.500000e+07
Name: raised_amount_usd, dtype: float64

budget.query('funding_round_type=="venture"')

In [82]:
Manish=budget.query('funding_round_type=="venture"')
Manish

,company_permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
12,/organization/1-800-dentist,1-800-DENTIST,http://www.1800dentist.com,Health and Wellness,operating,USA,CA,Los Angeles,Los Angeles,01-01-1986,/funding-round/e1cfcbe1bdf4c70277c5f29a3482f24e,venture,A,19-07-2014,8900000.0
22,/organization/1000lookz,1000Lookz,http://1000lookz.com,Beauty,operating,IND,25,Chennai,Chennai,01-01-2008,/funding-round/b952cbaf401f310927430c97b68162ea,venture,NaN,17-03-2015,5000000.0
46,/organization/117go,117go,http://117go.com,Social Travel,operating,CHN,23,Shanghai,Shanghai,01-10-2011,/funding-round/645b4cd895450b8e0268027cd7813047,venture,B,04-11-2015,6602694.0
50,/organization/120-sports,120 Sports,http://www.120sports.com,Sports,operating,USA,IL,Chicago,Chicago,01-01-2013,/funding-round/a21fc4d20200f43e3a25fd9cfc7c1482,venture,A,09-07-2015,8900000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114916,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/funding-round/05f43b37c270f5919578281ce803de8f,venture,B,09-07-2014,8400000.0
114920,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/funding-round/4191cb5258d3863b0212d1083881da64,venture,B,30-06-2013,12000000.0
114922,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/funding-round/b4fce7f8a13267353d57db09099800e8,venture,NaN,11-07-2013,14219999.0
114931,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/funding-round/e949f077c943db197f20e43c2eb8d0e6,venture,A,09-10-2009,7991547.0
114936,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/funding-round/7ea37c0ff4132b084832039a9380d34e,venture,A,16-12-2004,8500000.0

In [71]:
MM=mk11.groupby('country_code')['company_permalink'].count().sort_values()
MM

country_code
ZWE        1
IRN        1
ZMB        1
LAO        1
CMR        1
       ...
IND      382
CHN      473
CAN      504
GBR      999
USA    10671
Name: company_permalink, Length: 107, dtype: int64

In [72]:
MM1=mk11.groupby('country_code')['company_permalink'].nunique().sort_values(ascending=False)
MM1

country_code
USA    10671
GBR      999
CAN      504
CHN      473
IND      382
       ...
CMR        1
LAO        1
ZMB        1
IRN        1
ZWE        1
Name: company_permalink, Length: 107, dtype: int64

In [91]:
j5=Manish.query('country_code=="USA"')
j5

,company_permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
12,/organization/1-800-dentist,1-800-DENTIST,http://www.1800dentist.com,Health and Wellness,operating,USA,CA,Los Angeles,Los Angeles,01-01-1986,/funding-round/e1cfcbe1bdf4c70277c5f29a3482f24e,venture,A,19-07-2014,8900000.0
50,/organization/120-sports,120 Sports,http://www.120sports.com,Sports,operating,USA,IL,Chicago,Chicago,01-01-2013,/funding-round/a21fc4d20200f43e3a25fd9cfc7c1482,venture,A,09-07-2015,8900000.0
99,/organization/1daymakeover,1DayMakeover,http://www.1daymakeover.com,Cosmetics|E-Commerce|Fashion|Lifestyle|Persona...,closed,USA,CA,"Orange County, California",Santa Ana,30-06-2008,/funding-round/9d83084d87dc63a309c9a6fe9bf59d1b,venture,A,27-10-2015,13000000.0
103,/organization/1eq,Babyscripts,http://www.getbabyscripts.com,Health and Wellness|Mobile Health,operating,USA,DC,"Washington, D.C.",Washington,08-03-2013,/funding-round/fb6216a30cb566ede89e0bee0623a634,venture,NaN,16-12-2014,11999347.0
113,/organization/1rp-media,1RP Media,NaN,NaN,operating,USA,CA,Los Angeles,Los Angeles,01-01-2011,/funding-round/82ace97530965cd2be8f262836b43ff5,venture,A,27-03-2008,12400000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18298,/organization/enlight-research,Enlight Research,http://www.enlightresearch.com,Big Data|Consulting,operating,USA,NC,Raleigh,Durham,01-12-2011,/funding-round/f89f16f8f6e1ba8c87b6eaf866c9eeeb,venture,C,07-03-2005,11000000.0
18303,/organization/enlink-geoenergy,EnLink Geoenergy Services,http://www.enlinkgeoenergy.com,Clean Technology,operating,USA,CA,CA - Other,Rancho Dominguez,NaN,/funding-round/5f8319c9e84d15b9dcfa087fa43632cd,venture,A,11-12-2014,10500000.0
18305,/organization/enliven-marketing-technologies,Springbox,http://www.springbox.com,Advertising|Analytics|Curated Web|Social Media...,operating,USA,TX,Austin,Austin,01-01-2004,/funding-round/2336b5e9afe8f16a8ef539a5b03270bd,venture,NaN,03-09-2014,5000000.0
18323,/organization/enosix,enosiX,http://enosix.com/,Enterprise Software|Productivity Software|Soft...,operating,USA,OH,Cincinnati,Cincinnati,01-01-2014,/funding-round/a68e6d4a65201659a7a2c2b03dc53062,venture,B,27-06-2007,7000000.0
18328,/organization/enovix,ENOVIX,http://enovix.com,Energy|Energy Storage|Renewable Energies,operating,USA,CA,SF Bay Area,Fremont,01-01-2006,/funding-round/cab91cc520a8c7e3d66390561af9e87b,venture,A,02-12-2015,14500000.0

In [86]:
mapping=pd.melt(k1,id_vars=['category_list'],var_name='Sector',value_name='value')

In [87]:
mapping

         category_list                                   Sector  value
0                  NaN                      Automotive & Sports      0
1                   3D                      Automotive & Sports      0
2          3D Printing                      Automotive & Sports      0
3        3D Technology                      Automotive & Sports      0
4           Accounting                      Automotive & Sports      0
...                ...                                      ...    ...
6187         Wholesale  Social, Finance, Analytics, Advertising      0
6188  Wine And Spirits  Social, Finance, Analytics, Advertising      0
6189          Wireless  Social, Finance, Analytics, Advertising      0
6190             Women  Social, Finance, Analytics, Advertising      0
6191      Young Adults  Social, Finance, Analytics, Advertising      0

[6192 rows x 3 columns]

In [89]:
mapping=mapping.query('value==1')

In [90]:
mapping

          category_list                                   Sector  value
8      Adventure Travel                      Automotive & Sports      1
14            Aerospace                      Automotive & Sports      1
45                 Auto                      Automotive & Sports      1
46      Automated Kiosk                      Automotive & Sports      1
47           Automotive                      Automotive & Sports      1
...                 ...                                      ...    ...
6121  Social Recruiting  Social, Finance, Analytics, Advertising      1
6122  Social Television  Social, Finance, Analytics, Advertising      1
6123      Social Travel  Social, Finance, Analytics, Advertising      1
6134    Stock Exchanges  Social, Finance, Analytics, Advertising      1
6167    Venture Capital  Social, Finance, Analytics, Advertising      1

[688 rows x 3 columns]

In [92]:
mapping1=pd.merge(j5,mapping, on='category_list',how='inner')

In [93]:
mapping1

,company_permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,Sector,value
0,/organization/1-800-dentist,1-800-DENTIST,http://www.1800dentist.com,Health and Wellness,operating,USA,CA,Los Angeles,Los Angeles,01-01-1986,/funding-round/e1cfcbe1bdf4c70277c5f29a3482f24e,venture,A,19-07-2014,8900000.0,Health,1
1,/organization/advanced-surgical-concepts,Advanced Surgical Concepts,http://advancedsurgicalbatonrouge.com,Health and Wellness,operating,USA,LA,Baton Rouge,Baton Rouge,01-01-2002,/funding-round/c0f7b8ce5df18c8fb651f74d105a8db0,venture,NaN,25-06-2012,10000000.0,Health,1
2,/organization/aequus-technologies,Aequus Technologies,NaN,Health and Wellness,operating,USA,NY,New York City,Pearl River,NaN,/funding-round/1b2eac00573fd2e65224e9bbb4191abe,venture,NaN,01-08-2012,9842436.0,Health,1
3,/organization/agility-healthcare-solution,Agility Healthcare Solution,http://www.agilityhealthcare.com,Health and Wellness,operating,USA,VA,Richmond,Glen Allen,NaN,/funding-round/fad6ae551961c31cb509a85cc4b65761,venture,C,02-12-2009,15000000.0,Health,1
4,/organization/airrosti-rehab-centers,Airrosti Rehab Centers,http://www.airrosti.com/,Health and Wellness,operating,USA,TX,San Antonio,San Antonio,01-01-2004,/funding-round/82bcfe1b719033d46d0eed13bc7fa2de,venture,C,17-07-2008,8000000.0,Health,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
830,/organization/electrum-partners,Electrum Partners,http://electrumpartners.com/,Services,operating,USA,NV,Las Vegas,Las Vegas,01-01-2014,/funding-round/930e805cd8b0a2ab5056fb6e1b562781,venture,B,13-11-2007,7500000.0,Others,1
831,/organization/emelody-worldwide,Emelody Worldwide,http://www.emelodyworldwide.com,Drones,operating,USA,GA,Atlanta,Atlanta,12-02-2014,/funding-round/cc0443191d8a3aeac7adbb885b904943,venture,NaN,03-11-2004,10000000.0,Automotive & Sports,1
832,/organization/encorp,Encorp,http://www.encorp.com/,Renewable Energies,operating,USA,CO,Fort Collins,Fort Collins,NaN,/funding-round/8a2920754698ef2e6f724be8483941b7,venture,A,01-11-2008,6500000.0,Cleantech / Semiconductors,1
833,/organization/enduring-hydro-llc,Enduring Hydro,http://enduringhydro.com,Renewable Energies,operating,USA,MD,"Washington, D.C.",Chevy Chase,01-01-2011,/funding-round/a5062cd231478af399f242ddf18e9c86,venture,B,27-01-2004,9100000.0,Cleantech / Semiconductors,1
834,/organization/enigma-semiconductor,Enigma Semiconductor,http://enigmasemi.com,Semiconductor Manufacturing Equipment,closed,USA,CA,SF Bay Area,Santa Clara,01-01-2001,/funding-round/85a11b8d63cb49e01524a6b0e1012c37,venture,A,15-10-2007,11200000.0,Cleantech / Semiconductors,1